

<html ng-app="firstAPP">
<head>
    <title>OMMS|Table</title>
    <script src="config.js"></script>
   <script src="../Omms/js/angular.min.js"></script>
   <script src="../Omms/js/moment.min.js" type="text/javascript"></script>
 <script src="../Omms/js/Chart.js"></script>
  <script src="../Omms/js/angular-chart.min.js"></script>

	<script type="text/javascript"  src="../Omms/js/table1.1.0.js"></script>
	
	
	<link href="../Omms/css/table1.0.0.css"  rel="stylesheet" type="text/css">
	<link href="../Omms/css/heading1.0.3.css" rel="stylesheet" type="text/css">
	<link href="../Omms/css/all-chart.css"  rel="stylesheet" type="text/css">
	<link href="../Omms/css/modal.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="../Omms/img/logo.png"/>
</head>

<body>


<div id ="ID1" ng-app="firstAPP" ng-controller="myCtrl1">
	
	<input class=searchName type="text" ng-model="filters.name" placeholder="Search by Name">
		<div class=searches>
			
			<select class="status" onmouseover= "zIndex(-1)" onmouseout= "zIndex(0)" ng-model="Status" ng-change="testRun(-1,$index)" ng-options="x.value for x in test1| filter: {category:'status'}" >
			</select>
			
			<select class="town"  onmouseover= "zIndex(-1)" onmouseout= "zIndex(0)" ng-model="Towns" ng-change="testRun(0,$index)" ng-options="x.value for x in test1| filter: {category:'town'}" >
			</select>
			
			<select class="brgy"  onmouseover= "zIndex(-1)" onmouseout= "zIndex(0)" ng-model="Brgys" ng-change="testRun(1,$index)" ng-options="x.value for x in test1| filter: myBrgy">
			</select>
			
			<select class="crew"  onmouseover= "zIndex(-1)" onmouseout= "zIndex(0)" ng-model="Crews" ng-change="testRun(2,$index)" ng-options="x.value for x in test1| filter: myCrew">
			</select>
			
			 <select class="freq"  onmouseover= "zIndex(-1)" onmouseout= "zIndex(0)" ng-model="Period"  ng-change="testRun(5,$index)" ng-options="y for 	y in Period1">
			</select>
			<input class="cal"  onmouseover= "zIndex(-1)" onmouseout= "zIndex(0)" ng-model="Date" ng-change= "testRun(0,0)" type="date">
			
			<script type="text/javascript">
				var zIndex=function(z){
					document.getElementById("table1").style.zIndex=z;
				}
			</script>
			 <div class="colnames">
			 	<div class= "checkboxes"> 
			 		<input  type="checkbox" ng-model="checkall" ng-click="checkUncheckAll()" />Select All<br/>
				</div>
				<div class= "checkboxes" ng-repeat="user in users" >
			          <input type="checkbox" ng-model="user.checked"  ng-change="updateCheckall($index, user.checked) " /> 
			         {{user.name}} 
			     </div>
		     </div>
		</div>	
		<div id="HD" style=" display: inline-block;margin-left:20px; margin-top:2rem; overflow-x:auto;width:95%;height:90%;"> <!-- span HD to full length -->
			<table id="table1" border="1" >
			  <tr id="header" style="z-index:-1">
			    <th ng-repeat="user in users" ng-show= "IsVisible($index)">
			    	<a ng-click="sortData($index)"> {{user.name}} </a>
			     </th>
			  </tr>
			  <tr class="inactive" id="content" style="z-index:-1" ng-repeat="row2 in sexy2 | orderBy : sortColumn : reverseSort| filter: filters ">
			    <td  ng-repeat="column in row2"  ng-show= "IsVisible($index)" >
			      <a ng-dblclick="selectItem(row2.unique_id,row2.jo)" ng-click="highLighted($event)">{{ column }}</a> 
			    </td>
			  </tr>
			</table>
		</div>
		<div id="modals" ng-show="showModal"> 				   
		   		J.O.#:{{Jo}}<br>
	       	    <input id=creator ng-model="Name" ng-change= "itemChange(0)" placeholder= "Created/Reported by" type="text" required pattern="^[A-Za-z0-9- !-):;?@*^+./]*$" ng-pattern-restrict> <br>
	            <select id=town ng-model="newTown" ng-change= "gpsChange(1)" ng-options="y.value for y in test1| filter: {category:'town'}" ></select>
				<select id=brgy ng-model="newBrgys" ng-change= "gpsChange(0)" ng-options="y.value for y in test1| filter: newBrgy"></select>
	            <input  id=landmark ng-model="Landmark" placeholder= "Landmark/Specific location" pattern="^[A-Za-z0-9- !-):;?@*^+./]*$" ng-pattern-restrict><br>
	           <div >
				  <input ng-model="getType" ng-change= "itemChange(2)" type="radio" name="type" ng-value="'high'">Power Interruption<br>
				  <input ng-model="getType" ng-change= "itemChange(2)" type="radio" name="type" ng-value="'medium'">O & M<br>
				  <input ng-model="getType" ng-change= "itemChange(2)" type="radio" name="type" ng-value="'low'">Inspection/Verification
				</div>
					
				 <input  id=contact ng-model="Phone" placeholder= "Cellphone Number Only"  maxlength="11" pattern="^[0-9]*$" ng-pattern-restrict><br>
	            <textarea id=particulars ng-model="Notes" placeholder= "Particulars" pattern="^[A-Za-z0-9- !-):;?@*^+./]*$" ng-pattern-restrict wrap="soft"></textarea><br>
	         
	         <div class=row>
	           	<select class=col id=assignedto ng-model="Crews1" ng-change= "itemChange(0)" ng-options="y.value for y in test1| filter: {category:'crew'}" ></select>
				<select class=col id=status ng-model="Status1" ng-change= "itemChange(0)" ng-options="y.value for y in test1| filter: {category:'status'}"></select>
	         </div>
	         <div class=row>
	            <select class=col id=substation ng-model="Substation" ng-change= "itemChange(3)" ng-options="y.value for y in test1| filter: {category:'substation'}" ></select>
				<select class=col id=feeder ng-model="Feeder" ng-change= "itemChange(0)" ng-options="y.value for y in test1| filter: newFeeder"></select>
	         </div>  
	         <div class=row>
	           	<select class=col id=category ng-model="Category" ng-change= "itemChange(0)" ng-options="y.value for y in test1| filter: {category:'category'}" ></select>
				<select class=col id=equipment ng-model="Equipment" ng-change= "itemChange(0)" ng-options="y.value for y in test1| filter: {category:'equipment'}"></select>
	         </div>
	         
         	<div class=row2>
				<div class="col2">
				<button  class="left" type="button" ng-click="Hist(0)"></button>
				history
				<button  class="right" type="button" ng-click="Hist(1)"></button>
				</div>
			</div>
	         LINE COVERAGE:
	         <div class=row>
	            <select class=col id=town1 ng-model="Towns1" ng-change= "itemChange(4)" ng-options="y.value for y in test1| filter: {category:'town'}" ></select>
				<select class=col id=brgy1 ng-model="Brgys1" ng-change= "itemChange(0)" ng-options="y.value for y in test1| filter: newBrgy1"></select>
	          </div> 
	          <div class=row>
	            <div class=col1>From-Town</div>
				<div class=col1>From-Brgy</div>
			  </div> 
	          <div class=row>
	            <select class=col id=town2 ng-model="Towns2" ng-change= "itemChange(5)" ng-options="y.value for y in test1| filter: {category:'town'}" ></select>
				<select class=col id=brgy2 ng-model="Brgys2" ng-change= "itemChange(0)" ng-options="y.value for y in test1| filter: newBrgy2"></select>
	          </div> 
	          <div class=row>
	            <div class=col1>To-Town</div>
				<div class=col1>To-Brgy</div>
			  </div> 
	            <input id=section ng-model="Location" placeholder= "Please specify line section if any" type="text" pattern="^[A-Za-z0-9- !-):?@*^+./]*$" ng-pattern-restrict > <br>
	          <div id=map ><button class="gray" ng-click="navMap()">MAP</button> <input name="gps" value={{Gps}}></div> 
    				    		       
	         <div class=row>
	          <div>ACTION TAKEN:</div> 
	          <select class=col2 ng-model="Cause" ng-change= "itemChange(0)" ng-options="y.value for y in test1| filter: newType"></select>
	         </div>
	         <div>
	          <textarea id=actiontaken ng-model="ActionTaken" ng-change= "itemChange(0)" placeholder= "Others(Please specify)" pattern="^[A-Za-z0-9- !-):;?@*^+./]*$" ng-pattern-restrict wrap="soft"></textarea><br>
	         </div>
	             Schedule:<br>
	         <div class=row>
	             <input class=col5 ng-model="Followed1" ng-change= "itemChange(0)" type="date">
	             <input class=col6 ng-model="Time1" ng-change= "itemChange(0)" type="time"> <br>
	       	</div>
	         <div class=row3>
	         	<button class=col3 id="save" type="button" ng-click="postRun()" class="btn btn-primary">SAVE</button>
				<button class=col3 id="delete" type="button" ng-click="deLete()" class="btn btn-primary">DELETE</button>
				<button class=col3 id="exit" type="button" ng-click="open()" class="btn btn-primary">EXIT</button>
			
			</div>
		
			
	            <div class=label1>Creator:{{Creator}}  {{Created}}</div>
				<div class=label1>Follower:{{Follower}}  {{Followed}}</div>
				<div class=label1>Team/Members:{{Members}}</div>
		</div> 
	
 	
    
</div>
 
</body>
