
	#Bar-chart {
	  width: 80%;
	  height: auto;
	  position: fixed;
	  top:15%;
	  margin-left:1%;
	    
	   }
	 #Pie-chart {
	  width: 30%;
	  height: auto;
	  position: fixed;
	  right:-6%;
	  opacity:70%;
	   }
	  
  	.row {
    display: table;
  
	}
	.col {
	    display: table-cell;
	  }
